.container { 
    padding: 3% 4%;
    height: 100vh;
    width: 100VW;}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
    
}

.list{
    position: absolute;
    display: flex;
    gap: 20px;
    left: 20%;

}

ul li {
    list-style: none;
    font-size: larger;
    font-weight: bold;
    color: #02020278;
}
ul li:hover {
    color: #000;
}

.nav-button{
    font-size: larger;
    font-weight: bold;
    background-color: #6600ff;
    color: #fff;
    border-radius: 6px;
    padding: 10px 5px;
}
div.banner-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.banner-container > * {
    /* border: 2px solid black; */
}

.heading-text{
    font-size: 70px;
    color: #3f206e;

}

h1 span {
    color: #652cbccc;
}
.description{
    font-size: 20px;
    color: rgb(100, 88, 88);
}
.nav-button.btn {
    padding: 10px 20px;
    font-size: 25px;
}